
   <div class="container-fluid" style="border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; margin: 10em 0 5em 0 ; padding:2em ;">
       <div class="row">
           <div class="col" style=  "width:20%">
               <p style="font-size: medium;">070-1234-1234</p>
               <p style="font-size: small;">MON - FRI AM 10:00 ~ PM 17:00</p>
               <p style="font-size: small;">Launch TIME AM 12:00 ~ PM 01:00</p>
               <p style="font-size: small;">SAT, SUN, HOLIDAY CLOSED</p>
           </div>
           <div class="col" style="width:20%">
                <p style="font-size: small;">국민은행 1234 - 00 - 1234</p>
            <br>
                <p style="font-size: small;">예금주 : THE FIVE</p>
           </div>
           <div class="col" style="width:20%">
                <p style="font-size: small;">HOME</p>
                <p style="font-size: small;">COMPANY</p>
                <p style="font-size: small;">AGREEMENT</p>
                <p style="font-size: small;">PRIVACY</p>
                <p style="font-size: small;">GUIDE</p>
            </div>
           <div class="col-lg" style="width:20%">
                <p style="font-size: small;">상호명 THE FIVE 대표자 이연정 대표전화 070 1234 1234</p>
                <p style="font-size: small;">개인정보관리 책임자 김민석 (thefive@naver.com)</p>
                <p style="font-size: small;">통신판배업신고 제2021서울송파0443호</p>
                <p style="font-size: small;">사업자 등록 번호 070 1234 1234</p>
           </div>
       </div>
   </div>
